<!-- MODIFYING THIS FILE SHOULD BE UNNECESSARY -->
<doctype! html>
<html>
  <head>
    <script src="lib/angular.js"></script>
    <script src="lib/angular-route.js"></script>
    <script src="app.js"></script>
  </head>
  <body>
    <div ng-app="app">
      <nav ng-controller='fizzbuzzCtrl'>
        <a href="#/fizzbuzz" ng-click='increment1()'> Fizzbuzz {{count}} </a>
        </nav>
        <nav ng-controller='fozzbazzCtrl'>
        <a href="#/fozzbazz" ng-click='increment2()' > Fozzbazz {{inc}}</a>
      </nav>
      <div ng-view></div>
    </div>
  </body>
</html>
